.hero {
    background-color: $BackgroundColorFooter;
    padding-top: 200px;
    padding-bottom: 200px;

    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg.jpg);
}

.hero__title {
    display: block;
    font-weight: 900;
    color: $TitleColorWhite;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}