/**Колір тексту**/
$AccentColor: #2196f3;
$TitleColorWhite: #ffffff;
$TitleColorDark: #212121;
$TextColor: #757575;
$WhiteColorInfo: rgba(255, 255, 255, 0.6);

/**Колір фону і декору**/
$BackgroundColorTeam: #f5f4fa;
$BackgroundColor: #e5e5e5;
$BackgroundColorFooter: #2f303a;
$OutlineColor: rgba(238, 238, 238, 1);
$BorderBottom: rgba(236, 236, 236, 1);
$AconColor: #afb1b8;

/**Шрифти**/
$MainFont: "Roboto";
$LogoFont: "Raleway";